<div class="container">
  <div class="Display-image"></div>
  <div class="login-window">
    <h1 class="tag-line">Gotta Catch 'Em All</h1>
    <h1 class="tag-line">Panna Har Ek Ko</h1>
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="displayValues()">
        <app-input
          formControlName="email"
          [id]="'Email'"
          [placeholder]="'email'"
          [type]="'email'"
        ></app-input>
        <p
          class="validation-errors"
          *ngIf="
            loginForm.controls['email'].hasError('required') &&
            loginForm.controls['email'].dirty
          "
        >
          This field is Required
        </p>
        <p
          class="validation-errors"
          *ngIf="loginForm.controls['email'].hasError('email')"
        >
          Please enter correct email
        </p>
        <app-input
          formControlName="password"
          [id]="'Password'"
          [placeholder]="'password'"
          [type]="'password'"
        >
        </app-input>
        <p
          class="validation-errors"
          *ngIf="
            loginForm.controls['password'].hasError('required') &&
            loginForm.controls['password'].dirty
          "
        >
          This field is Required
        </p>
        <p
          class="validation-errors"
          *ngIf="loginForm.controls['password'].hasError('minlength')"
        >
          Password should be of minimum 4 characters
        </p>
        <app-button
          class="button-Positioning"
          [enableButton]="loginForm.status === 'INVALID'"
        >
          <span class="button-name">Login</span>
        </app-button>
      </form>
    </mat-card>
  </div>
</div>
