.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #ccc;
  padding: 1rem;
}

.add-button-section {
  padding: 0.25rem;
  .button {
    float: right;
  }
}

.table-properties {
  width: 100%;
}

.add-button-section {
  position: relative;
}
.popup-positioning {
  float: right;
}

.Column-Headers{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
